{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Author: {{ comment.author }}<br />
    Email: {{ comment.email }}<br />

    <p>
        {{ comment.text }}
    </p>
{% endblock %}